<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarHospitales(input.value)" type="text" class='form-control' placeholder="Buscar hospital...">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row col-12">
                    <div class="col-10">
                        <h3 class="card-title">Hospitaltes registrados (<small>{{totalRegistros}}</small>)</h3>
                    </div>

                    <div class="text-right col-2">
                        <button (click)="crearHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                            <i class="fa fa-plus"></i> Crear hospital
                        </button>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <img (click)="mostrarModal(hospital._id)" class="img-50 circle pointer" [src]="hospital.img | imagen:'hospital'" alt="Imagen del hospital">
                            </td>
                            <td><input [(ngModel)]="hospital.nombre" name="nombre" type="text" class="form-control center"></td>
                            <td>
                                <button (click)="actualizarHospital(hospital)" class="btn btn-success">
                                  <i class="fa fa-save"></i>
                                </button>
                                <button (click)="borrarHospital(hospital)" class="btn btn-danger">
                                  <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarPagina(-1)" class="btn btn-secondary" [disabled]="pagina===1">Anterior</button>
                <button (click)="cambiarPagina(1)" class="btn btn-secondary" [disabled]="pagina===totalPaginas">Siguiente</button>
            </div>
        </div>
    </div>
</div>